body{
  background-color: lightgray;
}
img{
  max-width: 300px;
  max-height: 400px;
  margin:10px 10px;
}
article{
  max-width: 420px;
  display: block;
}
h1 { 
    border-width: 5px;
    border: dashed blue;
}